.bg-gray-800 {
  background-color: #1f2937;
}

.border-dark-700 {
  border-color: #374151;
}

.text-light {
  color: #f3f4f6;
}

.bg-gray-800::placeholder {
  color: #9ca3af !important;
  opacity: 1;
}

.form-control:focus {
  border-color: #374151 !important;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5) !important;
  background-color: #1f2937 !important;
  color: #f3f4f6 !important;
  outline: none !important;
}

.form {
  overflow: hidden;
}

@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
    padding: 20px;
  }
}

/* Za tablete i veće ekrane */
@media (min-width: 576px) {
  .container {
    max-width: 450px;
  }
}
