<div class="d-flex justify-content-center align-items-center vh-100 bg-dark">
  <div
    class="container text-center p-4 shadow-lg rounded bg-gray-900 border-dark-700 col-lg-4 col-6"
  >
    <form class="form">
      <h1 class="mb-3 text-light font-weight-bold">Sign up now</h1>
      <p class="small text-light opacity-75">
        Please fill out signup form to join social
      </p>
      <div class="row mb-3">
        <div class="col-6">
          <div class="input-group">
            <span
              class="input-group-text bg-gray-800 border-dark-700 text-light"
            >
              <i class="fas fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control bg-gray-800 border-dark-700 text-light"
              placeholder="First name"
              [(ngModel)]="user.name"
              name="firstName"
              required
              #firstName="ngModel"
            />
          </div>
          <div
            *ngIf="firstName?.invalid && firstName?.touched"
            class="text-danger"
          >
            First name is required.
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <span
              class="input-group-text bg-gray-800 border-dark-700 text-light"
            >
              <i class="fas fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control bg-gray-800 border-dark-700 text-light"
              placeholder="Last name"
              [(ngModel)]="user.surname"
              name="lastName"
              required
              #lastName="ngModel"
            />
          </div>
          <div
            *ngIf="lastName?.invalid && lastName?.touched"
            class="text-danger"
          >
            Last name is required.
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-gray-800 border-dark-700 text-light">
          <i class="fas fa-envelope"></i>
        </span>
        <input
          type="email"
          class="form-control bg-gray-800 border-dark-700 text-light"
          placeholder="Email address"
          [(ngModel)]="user.email"
          name="emailAddress"
          required
          #emailAddress="ngModel"
        />
      </div>
      <div
        *ngIf="emailAddress?.invalid && emailAddress?.touched"
        class="text-danger"
      >
        Email address is required.
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-gray-800 border-dark-700 text-light">
          <i class="fas fa-globe"></i>
        </span>

        <select
          class="form-control bg-gray-800 border-dark-700 text-light"
          name="country"
          [(ngModel)]="user.countryId"
        >
          <option *ngFor="let country of countries" [ngValue]="country.id">
            {{ country.naziv }}
          </option>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text bg-gray-800 border-dark-700 text-light">
          <i class="fas fa-calendar"></i>
        </span>
        <input
          type="date"
          class="form-control bg-gray-800 border-dark-700 text-light"
          [(ngModel)]="user.dateOfBirth"
          name="dateOfBirth"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text bg-gray-800 border-dark-700 text-light">
          <i class="fas fa-lock"></i>
        </span>
        <input
          type="password"
          class="form-control bg-gray-800 border-dark-700 text-light"
          placeholder="Password"
          [(ngModel)]="user.password"
          name="password"
          required
          #password="ngModel"
        />
      </div>
      <div *ngIf="password?.invalid && password?.touched" class="text-danger">
        Password is required.
      </div>
      <button
        class="btn btn-gradient-primary w-100 mb-3 mt-2 py-2 fw-bold"
        (click)="register()"
        [disabled]="
          !firstName?.valid ||
          !lastName?.valid ||
          !emailAddress?.valid ||
          !password?.valid
        "
      >
        SIGN UP
      </button>
      <p class="text-light opacity-75">
        Already have an account?
        <a
          routerLink="/auth/login"
          class="text-decoration-none ps-1 link-primary"
        >
          <strong>Login</strong>
        </a>
      </p>
    </form>
  </div>
</div>
