<div
  class="vh-100 bg-dark d-flex flex-column justify-content-center align-items-center"
>
  <div>
    <h1 class="text-light fs-3 mb-4">Edit your profile</h1>
  </div>
  <form class="d-flex flex-column align-items-center w-50">
    <div class="d-flex w-50">
      <input
        type="text"
        class="form-control bg-d text-light mb-3 me-1"
        [(ngModel)]="user.name"
        name="name"
      />
      <input
        type="text"
        class="form-control bg-d text-light mb-3 ms-1"
        [(ngModel)]="user.surname"
        name="surname"
      />
    </div>

    <input
      type="email"
      class="form-control bg-d text-light w-50 mb-3"
      [(ngModel)]="user.email"
      name="email"
    />
    <input
      type="password"
      class="form-control bg-d text-light w-50 mb-3"
      [(ngModel)]="user.password"
      name="password"
      placeholder="******"
    />
    <select
      class="form-control bg-d text-light w-50 mb-3"
      name="country"
      [(ngModel)]="user.countryId"
    >
      <option *ngFor="let country of countries" [ngValue]="country.id">
        {{ country.naziv }}
      </option>
    </select>
    <input
      type="date"
      class="form-control bg-d text-light w-50 mb-3"
      [(ngModel)]="user.dateOfBirth"
      name="dateOfBirth"
    />
    <div class="d-flex">
      <label class="text-light">Profile picture</label>
      <input type="file" (change)="setUploadedFile($event)" />
    </div>

    <div class="d-flex mt-3">
      <button class="btn btn-primary me-3" (click)="updateUser()">Save</button>
      <button routerLink="/user/{{ user.id }}" class="btn btn-danger">
        Cancel
      </button>
    </div>
  </form>
</div>
