<div
  class="vh-100 bg-dark d-flex flex-column justify-content-center align-items-center"
>
  <div>
    <h1 class="text-light fs-3 mb-4">Edit your profile</h1>
  </div>
  <div class="container">
    <form
      (ngSubmit)="updateUser()"
      class="d-flex flex-column align-items-center w-100 w-lg-50 mx-auto"
    >
      <div class="d-flex w-100">
        <input
          type="text"
          class="form-control bg-d text-light mb-3 me-1 w-100 w-sm-48"
          [(ngModel)]="user.name"
          name="name"
          placeholder="First Name"
        />
        <input
          type="text"
          class="form-control bg-d text-light mb-3 ms-1 w-100 w-sm-48"
          [(ngModel)]="user.surname"
          name="surname"
          placeholder="Last Name"
        />
      </div>
      <input
        type="email"
        class="form-control bg-d text-light w-100 mb-3"
        [(ngModel)]="user.email"
        name="email"
        placeholder="Email"
      />
      <input
        type="password"
        class="form-control bg-d text-light w-100 mb-1"
        [(ngModel)]="user.password"
        name="password"
        placeholder="******"
        required
        #password="ngModel"
      />
      <div
        *ngIf="password?.invalid && password?.touched"
        class="text-danger mb-2"
      >
        Password is required.
      </div>
      <select
        class="form-control bg-d text-light w-100 mb-3 mt-2"
        name="country"
        [(ngModel)]="user.countryId"
      >
        <option *ngFor="let country of countries" [ngValue]="country.id">
          {{ country.naziv }}
        </option>
      </select>
      <input
        type="date"
        class="form-control bg-d text-light w-100 mb-3"
        [(ngModel)]="user.dateOfBirth"
        name="dateOfBirth"
      />
      <div class="d-flex mb-3">
        <label class="text-light me-2">Profile picture: </label>
        <input
          type="file"
          class="text-light ms-2"
          (change)="setUploadedFile($event)"
        />
      </div>
      <div class="d-flex mt-1">
        <button
          class="btn btn-secondary me-3"
          type="submit"
          [disabled]="!user.password"
        >
          Save
        </button>
        <button type="button" class="btn btn-danger" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
