@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}

@media (max-width: 991px) {
  .post-card {
    width: 90% !important;
  }
}

@media (max-width: 767px) {
  .user-card {
    min-width: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 40% !important;
    overflow: hidden;
  }

  .user-container {
    min-height: 100vh;
  }
}
