<div class="d-flex" style="height: 60vh">
  <div
    class="user-card bg-gray border-dark-700 p-4 rounded mt-lg-5 ms-lg-5 mt-3 ms-3"
  >
    <div class="card-title text-light fw-bold mb-2">
      {{ user.name }} {{ user.surname }}
    </div>
    <div class="card-text text-light">
      <p>Email: {{ user.email }}</p>
      <p>Country: {{ user.country }}</p>
      <p>Date of Birth: {{ user.dateOfBirth | date }}</p>
    </div>
    <button class="btn btn-light mb-3" routerLink="/user/{{ user.id }}/edit">
      Edit profile
    </button>
    <br />
    <button class="btn btn-light" (click)="logout()">Logout</button>
  </div>
</div>
