<div class="d-flex flex-column align-items-center justify-content-center">
  <ng-container *ngIf="!isEditingComment">
    <button
      class="btn btn-primary mt-3 mb-2"
      *ngIf="!isAddingComment"
      (click)="addComment()"
    >
      Add comment
    </button>
  </ng-container>

  <div *ngIf="isAddingComment" class="d-flex flex-column">
    <input
      type="text"
      [(ngModel)]="comment.text"
      placeholder="Your comment..."
      class="w-100 mt-2"
    />
    <div class="d-flex justify-content-center mt-3">
      <button
        class="btn btn-success"
        (click)="saveComment()"
        style="width: 70px"
      >
        Save
      </button>
      <button
        class="btn btn-danger ms-2"
        (click)="cancelComment()"
        style="width: 70px"
      >
        Cancel
      </button>
    </div>
  </div>

  <div
    *ngFor="let comment of comments"
    class="d-flex align-items-center"
    style="height: 50px"
    #normalView
  >
    <p class="mb-0 text-light" *ngIf="!isEditingComment">{{ comment.text }}</p>
    <div class="d-flex justify-content-center align-items-center ms-3">
      <ng-container *ngIf="!isEditingComment">
        <button
          *ngIf="isCommentOwner(comment)"
          class="btn fs-5"
          style="color: red"
          (click)="deleteComment(comment.commentId)"
        >
          <i class="fas fa-trash"></i>
        </button>
      </ng-container>

      <ng-container *ngIf="!isEditingComment">
        <button
          *ngIf="isCommentOwner(comment)"
          (click)="edit(comment)"
          class="btn text-light fs-5"
        >
          <i class="fas fa-edit"></i>
        </button>
      </ng-container>
    </div>

    <!-- EDIT REZIM  -->

    <ng-container *ngIf="isEditingComment" ; else normalView>
      <div *ngIf="editingCommentId === comment.commentId">
        <input type="text" [(ngModel)]="comment.text" />
        <div class="d-flex flex-column">
          <button
            class="save-btn btn btn-success mb-2 mt-2"
            (click)="saveEdit(comment)"
          >
            Save
          </button>
          <button class="cancel-btn btn btn-danger" (click)="cancelEdit()">
            Cancel
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
