<div class="posts-container flex-grow-1">
  <div
    *ngFor="let post of posts"
    class="post-card shadow-lg mb-3 bg-gray-900 border-dark-700"
  >
    <div class="card-body">
      <!-- EDIT REZIM POSTA -->
      <div *ngIf="editingPostId === post.id; else normalView">
        <input class="form-control mb-2" [(ngModel)]="post.text" />
        <input class="form-control mb-2" [(ngModel)]="post.mediaLocation" />
        <button
          class="btn btn-success mt-2"
          (click)="saveEdit(post)"
          [disabled]="!post.text || !post.mediaLocation"
        >
          Save
        </button>
        <button class="btn btn-secondary ms-2 mt-2" (click)="cancelEditing()">
          Cancel
        </button>
      </div>

      <!-- NORMALNI PRIKAZ POSTA -->
      <ng-template #normalView>
        <p class="card-text text-light">{{ post.text }}</p>
        <p class="card-text text-light">
          <small>{{
            post.createdTime
              ? (post.createdTime | date : "short")
              : "Nema datuma"
          }}</small>
        </p>
        <div *ngIf="post.mediaLocation">
          <img [src]="post.mediaLocation" alt="Post Media" class="img-fluid" />
        </div>

        <button
          *ngIf="isPostOwner(post)"
          class="btn btn-primary mt-2"
          (click)="startEditing(post)"
        >
          Edit
        </button>

        <button
          *ngIf="isPostOwner(post)"
          class="btn btn-danger ms-2 mt-2"
          (click)="deletePost(post.id)"
        >
          Delete
        </button>
      </ng-template>

      <app-post-comment [post]="post"></app-post-comment>
    </div>
  </div>
</div>
