<div class="posts-container flex-grow-1 bg-dark">
  <div class="d-flex justify-content-center mt-3 mb-3">
    <button
      (click)="addPost()"
      *ngIf="!isCreatingPost"
      class="btn btn-primary ms-2 z-1"
    >
      Create post
    </button>

    <div
      *ngIf="isCreatingPost"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <input
        type="text"
        placeholder="Post text..."
        [(ngModel)]="post.text"
        class="form-control w-75 mb-3 z-1"
      />
      <input
        type="file"
        class="text-light w-75 z-1"
        (change)="setUploadedFile($event)"
      />
      <small class="text-light"
        >Kreirano: {{ post.createdTime | date : "medium" }}</small
      >
      <div class="d-flex gap-3 mt-3">
        <button
          (click)="createPost(post)"
          class="btn btn-success z-1"
          style="width: 100px"
        >
          Save
        </button>
        <button
          (click)="cancelCreating()"
          class="btn btn-danger z-1"
          style="width: 100px"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div
    *ngFor="let post of posts"
    class="post-card mb-3 border-dark-700 w-lg-50 rounded"
    style="margin: 0 auto; background-color: #383c42"
  >
    <div class="card-body d-flex align-items-center flex-column p-4">
      <!-- EDIT REŽIM POSTA -->
      <div *ngIf="editingPostId === post.id; else normalView">
        <input class="form-control mb-2" [(ngModel)]="post.text" />
        <label class="text-light me-2">Add picture</label>
        <input
          type="file"
          (change)="setUploadedFile($event)"
          class="text-light"
        />
        <button
          class="btn btn-warning mt-2"
          (click)="saveEdit(post)"
          [disabled]="!post.text"
        >
          Save Changes
        </button>
        <button class="btn btn-secondary ms-2 mt-2" (click)="cancelEditing()">
          Cancel
        </button>
      </div>

      <!-- NORMALNI PRIKAZ POSTA -->
      <ng-template #normalView>
        <p class="card-text text-light">
          {{ post.text }}
        </p>

        <div *ngIf="post.mediaLocation">
          <img
            [src]="post.mediaLocation"
            alt="Post Media"
            class="w-50 h-auto rounded d-block mx-auto mb-3"
          />
        </div>
        <p class="card-text text-light">
          <small>{{
            post.createdTime
              ? (post.createdTime | date : "short")
              : "Nema datuma"
          }}</small>
        </p>

        <div class="d-flex align-items-center">
          <app-post-like [post]="post" [user]="user"></app-post-like>

          <button
            (click)="toggleCommentVisibility(post.id)"
            class="bg-transparent border-0 fs-5 text-light"
          >
            💬
          </button>
        </div>

        <app-post-comment
          *ngIf="isCommentVisible[post.id]"
          [post]="post"
        ></app-post-comment>

        <div
          class="d-flex justify-content-center align-items-center mt-3 w-100"
        >
          <button
            *ngIf="isPostOwner(post)"
            class="btn btn-outline-primary me-3"
            (click)="startEditing(post)"
          >
            <i class="fas fa-edit"></i> Edit
          </button>

          <button
            *ngIf="isPostOwner(post)"
            class="btn btn-outline-danger"
            (click)="deletePost(post.id)"
          >
            <i class="fas fa-trash"></i> Delete
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
