<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="home d-flex bg-dark min-vh-100">
  <button
    *ngIf="isMobile"
    (click)="toogleUserCardVisibility()"
    class="toggle-btn"
  >
    <i
      class="fas"
      [class.fa-arrow-right]="!userCardVIsibility"
      [class.fa-arrow-left]="userCardVIsibility"
    ></i>
  </button>

  <div
    class="user-card-container position-fixed"
    *ngIf="userCardVIsibility || !isMobile"
  >
    <app-user-card [user]="user"></app-user-card>
  </div>

  <div
    class="posts-container flex-grow-1"
    *ngIf="!userCardVIsibility || !isMobile"
  >
    <app-post-card [posts]="posts" [user]="user"></app-post-card>
  </div>
</div>
